body {
  background-color: #FFF9E8;
  font-family: "Montserrat", sans-serif;
}

.scorebox {
  position: relative;
  top: 35%;
  margin: auto;
  width: 25%;
  height: 25%;
  padding: 10px;
  text-align: center;
}

#player_1 {
  float: left;
  margin-left: 15%;
}

#player_2 {
  float: right;
  margin-right: 15%;
}
